<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/main_layout.html}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pl">
<div layout:fragment="content">
  <h1 class="text-center mt-3">Edycja list</h1>
  <hr/>
  <div class="row mt-1">
    <div class="col-12">
      <form action="#" th:action="@{/toDoList/save}" th:object="${list}"
            method="post">
        <div class="form-group">
          <label for="list-id">Id</label>
          <input class="form-control" type="text" th:field="*{id}"
                 readonly="readonly" id="list-id" />
        </div>
        <div class="form-group">
          <label for="list-title">Tytuł</label>
          <input class="form-control" type="text"
                 th:field="*{title}" id="list-title" />
        </div>
        <div class="form-group">
          <label for="list-description">Opis</label>
          <input class="form-control" type="text" th:field="*{description}"
                 id="list-description" />
        </div>
        <div class="form-group">
          <label for="list-type">Typ listy</label>
          <input class="form-control" type="text" th:field="*{listType}"
                 id="list-type" />
        </div>
        <button type="submit" class="btn btn-primary mb-2 text-right">
          Zapisz
        </button>
      </form>
    </div>
  </div>
</div>
</html>